<mat-toolbar color="primary">
  <span>Application Title</span>
  <span class="example-fill-remaining-space"></span>
  <span>Right Aligned Text</span>
</mat-toolbar>
<a routerLink='acceuil' routerLinkActive="active" >acceuil</a><br>
<a routerLink='commande' routerLinkActive="active" >commande</a><br>
<a routerLink='connexion' routerLinkActive="active" >connexion</a><br>
<a routerLink='inscription' routerLinkActive="active" >inscription</a><br>
<a routerLink='panier' routerLinkActive="active" >panier</a>
<router-outlet></router-outlet>


